* {
    padding: 0;
    margin: 0;
}

body {
 font-family: 'young serif',serif;
}

.container{
    padding: 20px;
}

.section-one{
    background-color: black;
    color: white;
    padding: 20px;
}

.section-one__button{
    background-color: orangered;
    color: white;
    text-decoration: none;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    display: inline-block;
}

.section-one__name{
    font-size: 60px;
}

.section-one__role{
    font-size: 30px;
    margin-bottom: 10px;
}

.section-two,.section-three,.section-four,.section-five{
    margin-top: 30px; 
}

.section-two__description,.section-three__description,.section-four__description,.section-five__description{
margin: 10px;
}

.section-five{
    background-color: black;
    color: white;
    padding: 20px;
}

.section-five__title {
    padding-right: 50px;
}


.section-three li,.section-four li{
    list-style: none;
}

.section-three{
    background-color: #6462FD;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    height: 200px;
    vertical-align: top;
}

.section-four{
    background-color: #fe7517;
    padding: 20px;
    display: inline-block;
    border-radius: 10px;
    height: 200px;
    vertical-align: top;
}

.section-five__title a{
color:goldenrod
}

.section-five__name{
    color: crimson;
}
.section-five__title{
    color: aqua;
}
.contact-form{
    margin-top: 20px;
}
.contact-form__input,.contact-form__textarea,.contact-form__submit,.contact-form__department{
    margin-top: 10px;
}

.contact-form__input{
    border: none;
    padding: 10px;
    border-bottom: solid black 1px;
}

.contact-form__textarea{
    border: none;
    padding: 10px;
    border: solid black 1px;
}

.contact-form__submit{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #fe7517;
    border: none;
}
.section-five__role{
    margin-bottom: 10px;
}